In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import kagglehub
path=kagglehub.dataset_download('onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

# E-Commerce Data Analysis Project
## Online Retail Dataset Analysis

---

## ðŸ“Š Dataset Information

**Dataset:** Online Retail Dataset  



---

## ðŸŽ¯ Project Tasks

### **PART A: Initial Data Exploration**

**Task 1:** Load the dataset and display basic information about its structure.

**Task 2:** Show the first 15 and last 15 records.

**Task 3:** Display a random sample of 20 transactions.

**Task 4:** Find out how many rows and columns are in the dataset.

**Task 5:** List all column names.

**Task 6:** Check the data type of each column.

**Task 7:** Get a statistical summary of all numerical columns.

---

### **PART B: Data Quality Assessment**

**Task 8:** Identify which columns have missing values and how many.

**Task 9:** Find out how many transactions have missing CustomerID.

**Task 10:** Check if there are any duplicate rows in the dataset.

**Task 11:** Identify transactions where Quantity is less than or equal to zero.

**Task 12:** Find transactions where UnitPrice is zero or negative.

**Task 13:** Identify how many invoice numbers start with the letter 'C'.

**Task 14:** Check if the Description column has any leading or trailing spaces.

---

### **PART C: Data Cleaning**

**Task 15:** Remove all rows where CustomerID is missing.

**Task 16:** For missing product descriptions, fill them with "Unknown Product".

**Task 17:** Remove all duplicate transactions.

**Task 18:** Remove transactions where Quantity is less than or equal to zero.

**Task 19:** Remove transactions where UnitPrice is less than or equal to zero.

**Task 20:** Remove all cancelled transactions (invoices starting with 'C').

**Task 21:** Change the column name "Description" to "ProductName".

**Task 22:** Ensure the InvoiceDate column is in proper date-time format.

**Task 23:** Convert CustomerID to integer type.

**Task 24:** Reset the index after all cleaning operations.

---

### **PART D: Feature Creation**

**Task 25:** Create a new column called "TotalPrice" that represents the total value of each transaction.

**Task 26:** Extract the year from InvoiceDate and store it in a new column "Year".

**Task 27:** Extract the month from InvoiceDate and store it in a new column "Month".

**Task 28:** Extract the day from InvoiceDate and store it in a new column "Day".

**Task 29:** Extract the hour from InvoiceDate and store it in a new column "Hour".

**Task 30:** Create a column "DayOfWeek" showing which day of the week the transaction occurred.

**Task 31:** Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

**Task 32:** Create a column "RevenueCategory" with three levels:
- "Low" for transactions under Â£10
- "Medium" for transactions between Â£10 and Â£100
- "High" for transactions above Â£100

**Task 33:** Create a column "OrderSize" with three levels:
- "Small" for Quantity less than 5
- "Medium" for Quantity between 5 and 20
- "Large" for Quantity greater than 20

**Task 34:** Create a column that shows the length of each product name.

---

### **PART E: Text Data Processing**

**Task 35:** Convert all product names to uppercase.

**Task 36:** Remove any extra spaces from the Country column.

**Task 37:** Find all products that contain the word "BAG" in their name.

**Task 38:** Find all products whose names start with "WHITE".

**Task 39:** Find all products whose names end with "HOLDER".

**Task 40:** Replace "United Kingdom" with "UK" in the Country column.

**Task 41:** Replace "EIRE" with "Ireland" in the Country column.

---

### **PART F: Data Selection and Filtering**

**Task 42:** Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

**Task 43:** Display transactions from Germany only.

**Task 44:** Display transactions where Quantity is greater than 50.

**Task 45:** Display transactions where UnitPrice is between Â£5 and Â£10.

**Task 46:** Display transactions from France with Quantity greater than 20.

**Task 47:** Display transactions from December 2010.

**Task 48:** Display transactions that occurred on weekends.

**Task 49:** Display the top 10 transactions by TotalPrice.

**Task 50:** Display the bottom 15 transactions by TotalPrice.

**Task 51:** Find all transactions from either UK, Germany, or France.

**Task 52:** Find transactions where TotalPrice is above the 95th percentile.

---

### **PART G: Sorting Operations**

**Task 53:** Sort the entire dataset by InvoiceDate in ascending order.

**Task 54:** Sort the dataset by TotalPrice in descending order.

**Task 55:** Sort by Country (ascending) and then by TotalPrice (descending).

**Task 56:** Find the 20 highest-value transactions.

**Task 57:** Find the 20 lowest-value transactions (excluding returns).

---

### **PART H: Aggregation and Summary Statistics**

**Task 58:** Calculate the total revenue generated across all transactions.

**Task 59:** Calculate the average transaction value.

**Task 60:** Find the maximum and minimum transaction values.

**Task 61:** Calculate the total number of unique customers.

**Task 62:** Calculate the total number of unique products sold.

**Task 63:** Find out how many unique countries are represented in the data.

**Task 64:** Calculate the average number of items per transaction.

**Task 65:** Find which product appears most frequently in transactions.

---

### **PART I: Country-wise Analysis**

**Task 66:** Calculate total revenue for each country.

**Task 67:** Find the top 10 countries by total revenue.

**Task 68:** Calculate the number of transactions per country.

**Task 69:** Calculate the average transaction value for each country.

**Task 70:** Find which country has the highest average order value.

**Task 71:** Calculate the total quantity of products sold to each country.

**Task 72:** Find the country with the most unique customers.

---

### **PART J: Time-based Analysis**

**Task 73:** Calculate total revenue for each month.

**Task 74:** Find which month had the highest sales.

**Task 75:** Calculate revenue for each quarter.

**Task 76:** Calculate the number of transactions per day of the week.

**Task 77:** Find which day of the week has the highest average revenue.

**Task 78:** Calculate hourly sales patterns (revenue by hour of day).

**Task 79:** Compare sales between 2010 and 2011.

**Task 80:** Calculate month-over-month revenue growth rate.

---

### **PART K: Customer Analysis**

**Task 81:** Calculate total spending for each customer.

**Task 82:** Find the top 20 customers by total spending.

**Task 83:** Calculate the number of transactions per customer.

**Task 84:** Find the average order value for each customer.

**Task 85:** Identify customers who have made only one purchase.

**Task 86:** Find customers who spent more than Â£10,000 in total.

**Task 87:** Calculate the average number of days between purchases for each customer.

---

### **PART L: Product Analysis**

**Task 88:** Find the top 20 products by revenue.

**Task 89:** Find the top 20 products by quantity sold.

**Task 90:** Calculate the average price for each product.

**Task 91:** Find products that have been sold to more than 10 different countries.

**Task 92:** Identify the most expensive and cheapest products.

---

### **PART M: Advanced Grouping**

**Task 93:** Calculate total revenue by Country and Year.

**Task 94:** Calculate average transaction value by Country and Quarter.

**Task 95:** Find the number of transactions by Country and Month.

**Task 96:** Calculate total revenue by Day of Week and Hour.

**Task 97:** For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

**Task 98:** For each customer, calculate their total spending, number of orders, and average order value.

**Task 99:** For each product, calculate total quantity sold and total revenue generated.

---

### **PART N: Creating Summary Reports**

**Task 100:** Create a summary table showing monthly sales for each country (countries as rows, months as columns).

**Task 101:** Create a summary showing average quantity purchased by country and quarter.

**Task 102:** Create a table showing the count of transactions in each RevenueCategory by Country.

---

### **PART O: Data Transformation**

**Task 103:** Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

**Task 104:** Add a column showing each customer's ranking based on their total spending.

**Task 105:** Add a column showing the cumulative revenue over time.

---

### **PART P: Combining Analysis**

**Task 106:** Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

**Task 107:** Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

---

### **PART Q: External Data Integration**

**Task 108:** Create a new dataset with customer information (make up data):
- CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

**Task 109:** Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

**Task 110:** Create a product categories dataset (make up data):
- StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

**Task 111:** Combine the sales data with product categories to analyze which categories generate the most revenue.

**Task 112:** Perform an analysis that shows total revenue by MembershipLevel.

**Task 113:** Show which product categories are most popular in each country.

---

### **PART R: NumPy Operations**

**Task 114:** Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

**Task 115:** Create an array of 1000 random transaction IDs.

**Task 116:** Generate 50 equally spaced price points between Â£0 and Â£500.

**Task 117:** Create a matrix representing 12 months and 7 product categories filled with zeros.

**Task 118:** Extract quantities greater than 100 from the Quantity array.

**Task 119:** Calculate the square root of all UnitPrice values.

**Task 120:** Find the 25th, 50th, and 75th percentiles of TotalPrice.

**Task 121:** Round all UnitPrice values to the nearest integer.

**Task 122:** Find positions where Quantity is maximum.

**Task 123:** Calculate the correlation between Quantity and UnitPrice.

**Task 124:** Normalize the TotalPrice column (subtract mean, divide by standard deviation).

**Task 125:** Split the Quantity array into 4 equal parts.

---

### **PART S: Export and Documentation**

**Task 126:** Save your cleaned dataset to a CSV file.

**Task 127:** Save your cleaned dataset to an Excel file.

**Task 128:** Create an Excel file with multiple sheets:
- Sheet 1: Full cleaned data
- Sheet 2: Country-wise summary
- Sheet 3: Monthly revenue trends
- Sheet 4: Top 50 customers

**Task 129:** Export the pivot table from Task 100 to Excel.

**Task 130:** Create a text file documenting all the insights you discovered from this analysis.

#PART A: Initial Data Exploration
#Task 1: Load the dataset and display basic information about its structure.

In [ ]:
df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

Task 2: Show the first 15 and last 15 records.

In [ ]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [ ]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 3: Display a random sample of 20 transactions.

In [ ]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
362098,568408,21154,RED RETROSPOT OVEN GLOVE,5,9/27/2011 10:40,3.29,NaN,United Kingdom
238234,557937,22154,ANGEL DECORATION 3 BUTTONS,3,6/23/2011 15:30,0.83,NaN,United Kingdom
463080,576053,22711,WRAP CIRCUS PARADE,25,11/13/2011 14:53,0.42,16726.0,United Kingdom
492546,578125,22095,LADS ONLY TISSUE BOX,36,11/23/2011 10:31,0.39,17511.0,United Kingdom
93889,544316,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2/17/2011 14:49,0.85,16556.0,United Kingdom
277692,561189,23073,GEORGIAN TRINKET BOX,1,7/25/2011 13:28,12.50,16557.0,United Kingdom
534824,581173,23318,BOX OF 6 MINI VINTAGE CRACKERS,14,12/7/2011 15:07,2.49,17870.0,United Kingdom
467640,576364,21902,"KEY FOB , FRONT DOOR",1,11/14/2011 17:40,0.65,15009.0,United Kingdom
476349,577010,22400,MAGNETS PACK OF 4 HOME SWEET HOME,1,11/17/2011 12:11,0.39,15506.0,United Kingdom
127387,547219,22948,METAL DECORATION NAUGHTY CHILDREN,6,3/21/2011 14:51,0.85,NaN,United Kingdom
211464,555383,21828,EIGHT PIECE SNAKE SET,2,6/2/2011 15:13,1.25,12517.0,Germany
524211,580539,21479,WHITE SKULL HOT WATER BOTTLE,4,12/5/2011 8:39,4.25,18180.0,United Kingdom
287795,562114,21242,RED RETROSPOT PLATE,1,8/2/2011 16:14,3.29,NaN,United Kingdom
71553,542147,84581,DOG TOY WITH PINK CROCHET SKIRT,4,1/26/2011 10:02,3.75,12782.0,Portugal
426754,573362,23486,ANTIQUE HEART SHELF UNIT,1,10/30/2011 13:06,16.65,12597.0,Spain
265306,560222,22382,LUNCH BAG SPACEBOY DESIGN,10,7/15/2011 15:28,1.65,14293.0,United Kingdom
95276,544450,21715,GIRLS VINTAGE TIN SEASIDE BUCKET,3,2/20/2011 12:23,2.55,17811.0,United Kingdom
15869,537641,72741,GRAND CHOCOLATECANDLE,3,12/7/2010 15:32,2.82,NaN,United Kingdom
268211,560394,21464,DISCO BALL ROTATOR BATTERY OPERATED,2,7/18/2011 13:35,4.25,14390.0,United Kingdom
507390,579183,21733,RED HANGING HEART T-LIGHT HOLDER,32,11/28/2011 15:16,2.55,15621.0,United Kingdom

Task 4: Find out how many rows and columns are in the dataset.

In [ ]:
df.shape

(541909, 8)

Task 5: List all column names.

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Task 6: Check the data type of each column.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Task 7: Get a statistical summary of all numerical columns.

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

#PART B: Data Quality Assessment
Task 8: Identify which columns have missing values and how many.

In [ ]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Task 9: Find out how many transactions have missing CustomerID.

In [ ]:
df['CustomerID'].isna().sum()

np.int64(135080)

Task 10: Check if there are any duplicate rows in the dataset.

In [ ]:
df.duplicated().sum()

np.int64(5268)

Task 11: Identify transactions where Quantity is less than or equal to zero.

In [ ]:
df[df['Quantity'] <= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

Task 12: Find transactions where UnitPrice is zero or negative.

In [ ]:
df[df['UnitPrice'] <=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

Task 13: Identify how many invoice numbers start with the letter 'C'.

In [ ]:
df[df['InvoiceNo'].str.startswith('C')].shape[0]

9288

Task 14: Check if the Description column has any leading or trailing spaces.

In [ ]:
df['Description'].astype(str).apply(lambda x: x != x.strip()).sum()
#print(f"Number of descriptions with leading or trailing spaces: {description_with_spaces}")

np.int64(113452)

#PART C: Data Cleaning
Task 15: Remove all rows where CustomerID is missing.

In [ ]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
df.dropna(subset=['CustomerID'],inplace=True)

In [ ]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

Task 16: For missing product descriptions, fill them with "Unknown Product".

In [ ]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
df['Description'].fillna("Unknown Product")

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 406829, dtype: object

Task 17: Remove all duplicate transactions.

In [ ]:
df.duplicated().sum()

np.int64(5225)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

np.int64(0)

Task 18: Remove transactions where Quantity is less than or equal to zero.

In [ ]:
df = df[df['Quantity'] >= 0]

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 19: Remove transactions where UnitPrice is less than or equal to zero.

In [ ]:
df=df[df['UnitPrice']>=0]

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
df.shape

(392732, 8)

Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

In [ ]:
df['InvoiceNo'].str.startswith('C').sum()

np.int64(0)

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 21: Change the column name "Description" to "ProductName".

In [ ]:
col_names={'Description':'Product Name'}

In [ ]:
df.rename(columns={'Description': 'Product Name'}, inplace = True)

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [ ]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     392732 non-null  object
 1   StockCode     392732 non-null  object
 2   Product Name  392732 non-null  object
 3   Quantity      392732 non-null  int64
 4   InvoiceDate   392732 non-null  datetime64[ns]
 5   UnitPrice     392732 non-null  float64
 6   CustomerID    392732 non-null  float64
 7   Country       392732 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

Task 23: Convert CustomerID to integer type.

In [ ]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     392732 non-null  object
 1   StockCode     392732 non-null  object
 2   Product Name  392732 non-null  object
 3   Quantity      392732 non-null  int64
 4   InvoiceDate   392732 non-null  datetime64[ns]
 5   UnitPrice     392732 non-null  float64
 6   CustomerID    392732 non-null  int64
 7   Country       392732 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 27.0+ MB

Task 24: Reset the index after all cleaning operations.

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df.head(20)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,United Kingdom

#PART D: Feature Creation
Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [ ]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392732 entries, 0 to 392731
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     392732 non-null  object
 1   StockCode     392732 non-null  object
 2   Product Name  392732 non-null  object
 3   Quantity      392732 non-null  int64
 4   InvoiceDate   392732 non-null  datetime64[ns]
 5   UnitPrice     392732 non-null  float64
 6   CustomerID    392732 non-null  int64
 7   Country       392732 non-null  object
 8   TotalPrice    392732 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 27.0+ MB

In [ ]:
df['Year']=df['InvoiceDate'].dt.year

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [ ]:
df['Month']=df['InvoiceDate'].dt.month

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [ ]:
df['Day']=df['InvoiceDate'].dt.day

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [ ]:
df['Hour']=df['InvoiceDate'].dt.hour

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [ ]:
df['DayOfWeek']=df['InvoiceDate'].dt.day_of_week

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4

Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [ ]:
df['Quarter']=df['InvoiceDate'].dt.quarter

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4

Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under Â£10
"Medium" for transactions between Â£10 and Â£100
"High" for transactions above Â£100

In [ ]:
def revenue_category(x):
    if x < 10:
        return "Low"
    elif 10 <= x <= 100:
        return "Medium"
    else:
        return "High"

df['RevenueCategory'] = df['TotalPrice'].apply(revenue_category)

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium

Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5
"Medium" for Quantity between 5 and 20
"Large" for Quantity greater than 20

In [ ]:
def Ordersize(a):
  if a <5:
    return "Small"
  elif a >5 and a <20:
    return "Medium"
  else:
    return "Large"

df['OrderSize']=df['Quantity'].apply(Ordersize)

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

Task 34: Create a column that shows the length of each product name.

In [ ]:
df['LengthOfProduct']=df['Product Name'].str.len()

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

#PART E: Text Data Processing
Task 35: Convert all product names to uppercase.

In [ ]:
df['Product Name'] = df['Product Name'].str.upper()

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 36: Remove any extra spaces from the Country column.

In [ ]:
df['Country']=df['Country'].str.strip()

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 37: Find all products that contain the word "BAG" in their name.

In [ ]:
df[df['Product Name'].str.contains("BAG")]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,2,4,Medium,Large,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,2,4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,2,4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392656,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,4,4,Medium,Large,28
392657,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,4,4,Medium,Large,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,4,4,Medium,Large,22
392685,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,4,4,Medium,Medium,27
392688,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,4,4,Medium,Large,23

Task 38: Find all products whose names start with "WHITE".

In [ ]:
df[df['Product Name'].str.startswith("WHITE")]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,2,4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392062,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,3,4,Medium,Medium,34
392175,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,4,4,Medium,Small,29
392412,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,4,4,Medium,Medium,32
392479,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,4,4,Low,Small,35
392538,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,4,4,Medium,Small,29

Task 39: Find all products whose names end with "HOLDER".

In [ ]:
df[df['Product Name'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,2,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,2,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,2,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,4,4,Medium,Large,32
392564,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,4,4,Low,Small,26
392648,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large,14
392695,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,4,4,Medium,Medium,30
392699,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large,34

Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [ ]:
df['Country']=df['Country'].replace("United Kingdom","UK")

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [ ]:
df[df['Country']=='EIRE']

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
1357,536540,22968,ROSE COTTAGE KEEPSAKE BOX,4,2010-12-01 14:05:00,9.95,14911,EIRE,39.8,2010,12,1,14,2,4,Medium,Small,26
1358,536540,85071A,BLUE CHARLIE+LOLA PERSONAL DOORSIGN,6,2010-12-01 14:05:00,2.95,14911,EIRE,17.7,2010,12,1,14,2,4,Medium,Medium,35
1359,536540,85071C,"CHARLIE+LOLA""EXTREMELY BUSY"" SIGN",6,2010-12-01 14:05:00,2.55,14911,EIRE,15.3,2010,12,1,14,2,4,Medium,Medium,33
1360,536540,22355,CHARLOTTE BAG SUKI DESIGN,50,2010-12-01 14:05:00,0.85,14911,EIRE,42.5,2010,12,1,14,2,4,Medium,Large,25
1361,536540,21579,LOLITA DESIGN COTTON TOTE BAG,6,2010-12-01 14:05:00,2.25,14911,EIRE,13.5,2010,12,1,14,2,4,Medium,Medium,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391656,581433,22192,BLUE DINER WALL CLOCK,2,2011-12-08 15:54:00,8.50,14911,EIRE,17.0,2011,12,8,15,3,4,Medium,Small,21
391657,581433,48187,DOORMAT NEW ENGLAND,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,19
391658,581433,48184,DOORMAT ENGLISH ROSE,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,21
391659,581433,20685,DOORMAT RED RETROSPOT,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,21
391660,581433,79302M,"ART LIGHTS,FUNK MONKEY",6,2011-12-08 15:54:00,2.95,14911,EIRE,17.7,2011,12,8,15,3,4,Medium,Medium,22

In [ ]:
df['Country']=df['Country'].replace("EIRE","Ireland")

#PART F: Data Selection and Filtering
Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [ ]:
selected_df = df[['InvoiceNo','Product Name','Quantity','UnitPrice','Country']]
selected_df

,InvoiceNo,Product Name,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392727,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392728,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392729,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392730,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392731,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

In [ ]:
df[df['Country'] == "Germany"]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,2,4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,2,4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,2,4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,2,4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,2,4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392624,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,4,4,Medium,Medium,28
392625,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium,32
392626,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium,29
392627,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,4,4,Medium,Medium,32
392628,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,4,4,Medium,Medium,27

Task 44: Display transactions where Quantity is greater than 50.

In [ ]:
df[df['Quantity'] >50]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,2,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,2,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,2,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,2,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392528,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,4,4,High,Large,26
392529,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,4,4,Medium,Large,17
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,4,4,Medium,Large,32
392569,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,4,4,Medium,Large,30
392690,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,4,4,Medium,Large,32

Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.

In [ ]:
df[(df['UnitPrice']>=5) & (df['UnitPrice']<=10)]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,2,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,2,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,2,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392678,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,4,4,Low,Small,24
392681,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,4,4,Medium,Small,13
392701,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,4,4,Medium,Small,21
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium,21

Task 46: Display transactions from France with Quantity greater than 20.

In [ ]:
df[(df['Country']=="France") & (df['Quantity']>=20)]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,2,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,2,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387511,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,2,4,Medium,Large,18
387525,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,2,4,Medium,Large,26
389103,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,2,4,Medium,Large,29
389114,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,2,4,Medium,Large,33
389121,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,2,4,Medium,Large,18

Task 47: Display transactions from December 2010.

In [ ]:
df[(df['InvoiceDate'].dt.year==2010) & (df['InvoiceDate'].dt.month==12)]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25668,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,4,Low,Small,33
25669,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,21
25670,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,22
25671,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,4,Low,Small,27
25672,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,4,Low,Small,19

Task 48: Display transactions that occurred on weekends.

In [ ]:
df[df['InvoiceDate'].dt.weekday >=5]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,6,4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,6,4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,6,4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381645,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,6,4,Medium,Medium,25
381646,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,6,4,Low,Medium,18
381647,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,6,4,Medium,Medium,23
381648,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,6,4,Medium,Small,32
381649,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,6,4,Medium,Small,7

Task 49: Display the top 10 transactions by TotalPrice.

In [ ]:
df.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large,35
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large,18
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large,34
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large,34

Task 50: Display the bottom 15 transactions by TotalPrice.

In [ ]:
df.sort_values(by='TotalPrice',ascending=False).tail(15)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
6744,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0,2010,12,5,14,6,4,Low,Small,28
316286,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0,2011,11,3,11,3,4,Low,Large,29
28582,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,1,Low,Large,23
197495,561916,M,MANUAL,1,2011-08-01 11:44:00,0.0,15581,UK,0.0,2011,8,1,11,0,3,Low,Small,6
365819,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256,UK,0.0,2011,11,25,15,4,4,Low,Large,30
348495,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602,UK,0.0,2011,11,17,19,3,4,Low,Small,27
253564,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,6,3,Low,Small,26
53001,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560,UK,0.0,2011,2,10,13,3,1,Low,Medium,28
91635,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113,UK,0.0,2011,3,30,12,2,1,Low,Large,34
221550,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0,2011,8,26,14,4,3,Low,Large,32
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0,2011,11,18,13,4,4,Low,Small,30
303649,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059,UK,0.0,2011,10,26,14,2,4,Low,Large,27
105823,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0,2011,4,14,18,3,2,Low,Small,34
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,1,Low,Large,22
127078,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667,UK,0.0,2011,5,12,15,3,2,Low,Small,13

Task 51: Find all transactions from either UK, Germany, or France.

In [ ]:
df[(df['Country'] == "UK") | (df['Country'] == "Germany") | (df['Country'] == "France")]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [ ]:
threshold = df['TotalPrice'].quantile(0.95)
df[df['TotalPrice'] > threshold]

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392650,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,4,4,Medium,Medium,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,4,4,Medium,Large,22
392691,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,4,4,Medium,Large,31
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium,21

# PART G: Sorting Operations
Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [ ]:
df.sort_values(by='InvoiceDate', ascending=True)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392719,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium,25
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium,30
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392723,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,4,Medium,Small,26
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 54: Sort the dataset by TotalPrice in descending order.

In [ ]:
df.sort_values(by='TotalPrice',ascending=False)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.00,12444,Norway,0.00,2011,11,18,13,4,4,Low,Small,30
303649,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.00,18059,UK,0.00,2011,10,26,14,2,4,Low,Large,27
105823,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.00,12457,Switzerland,0.00,2011,4,14,18,3,2,Low,Small,34
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.00,13081,UK,0.00,2011,1,6,16,3,1,Low,Large,22
127078,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.00,17667,UK,0.00,2011,5,12,15,3,2,Low,Small,13

Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [ ]:
df.sort_values(by=['Country','TotalPrice'],ascending=[True, False])

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
340982,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,1,4,High,Large,18
212492,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,3,3,High,Large,25
68531,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,3,1,High,Large,29
212562,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,3,3,High,Large,28
27586,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,3,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194944,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,3,3,Low,Small,31
194825,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,3,3,Low,Small,35
194889,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,Small,29
194939,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,Small,29
194914,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,3,3,Low,Small,33

Task 56: Find the 20 highest-value transactions.

In [ ]:
df.sort_values(by='TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large,35
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large,18
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large,34
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large,34
32264,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,Large,18
169611,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,Large,21
108213,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,Large,18
201803,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,Large,29
305391,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small,6
305367,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small,6
31662,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,1,1,High,Large,21
292045,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,2,4,High,Small,6
388178,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,2,4,High,Large,31
10526,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,1,4,High,Large,28

Task 57: Find the 20 lowest-value transactions (excluding returns).

In [ ]:
df[df['Quantity'] > 0].sort_values(by='TotalPrice', ascending=True).head(20)

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
354241,577696,M,MANUAL,1,2011-11-21 11:57:00,0.0,16406,UK,0.0,2011,11,21,11,0,4,Low,Small,6
197495,561916,M,MANUAL,1,2011-08-01 11:44:00,0.0,15581,UK,0.0,2011,8,1,11,0,3,Low,Small,6
253564,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,6,3,Low,Small,26
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,1,Low,Large,22
316451,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,UK,0.0,2011,11,3,11,3,4,Low,Medium,30
28582,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,1,Low,Large,23
271006,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,UK,0.0,2011,10,6,8,3,4,Low,Small,18
135490,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0,2011,5,20,14,4,2,Low,Large,25
33947,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,UK,0.0,2011,1,13,15,3,1,Low,Small,29
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0,2011,11,18,13,4,4,Low,Small,30
348842,577168,M,MANUAL,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0,2011,11,18,10,4,4,Low,Small,6
283412,571035,M,MANUAL,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0,2011,10,13,12,3,4,Low,Small,6
318647,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0,2011,11,4,11,4,4,Low,Medium,25
24893,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,Ireland,0.0,2010,12,21,13,1,4,Low,Medium,24
22096,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,UK,0.0,2010,12,16,14,3,4,Low,Small,28
316807,574252,M,MANUAL,1,2011-11-03 13:24:00,0.0,12437,France,0.0,2011,11,3,13,3,4,Low,Small,6
303649,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059,UK,0.0,2011,10,26,14,2,4,Low,Large,27
221551,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0,2011,8,26,14,4,3,Low,Large,35
221552,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0,2011,8,26,14,4,3,Low,Large,24
53001,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560,UK,0.0,2011,2,10,13,3,1,Low,Medium,28

#PART H: Aggregation and Summary Statistics
Task 58: Calculate the total revenue generated across all transactions.

In [ ]:
df['TotalPrice'].sum()

np.float64(8887208.894000003)

In [ ]:
total_revenue = df['TotalPrice'].sum()
total_revenue

np.float64(8887208.894000003)

Task 59: Calculate the average transaction value.

In [ ]:
df['TotalPrice'].mean()

np.float64(22.629194702748958)

Task 60: Find the maximum and minimum transaction values.

In [ ]:
df['TotalPrice'].max()

168469.6

In [ ]:
df['TotalPrice'].min()

0.0

Task 61: Calculate the total number of unique customers.

In [ ]:
df['CustomerID'].nunique()

4339

Task 62: Calculate the total number of unique products sold.

In [ ]:
df['Product Name'].nunique()

3877

Task 63: Find out how many unique countries are represented in the data.

In [ ]:
df['Country'].nunique()

37

Task 64: Calculate the average number of items per transaction.

In [ ]:
df['Quantity'].mean()

np.float64(13.15371805709746)

Task 65: Find which product appears most frequently in transactions.

In [ ]:
df['Product Name'].value_counts().head(1)

Product Name
WHITE HANGING HEART T-LIGHT HOLDER    2016
Name: count, dtype: int64

#PART I: Country-wise Analysis
Task 66: Calculate total revenue for each country.

In [ ]:
df.groupby('Country')['TotalPrice'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

Task 67: Find the top 10 countries by total revenue.

In [ ]:
df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

Task 68: Calculate the number of transactions per country.

In [ ]:
df.groupby('Country')['InvoiceNo'].count()

Country
Australia                 1184
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            747
Cyprus                     603
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8327
Germany                   9027
Greece                     145
Iceland                    182
Ireland                   7228
Israel                     245
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2363
Norway                    1072
Poland                     330
Portugal                  1453
RSA                         58
Saudi Arabia                 9
Singapore                  222
Spain                     2480
Sweden                     450
Switzerland               1842
UK                      349227
USA                        179
United Arab Emirates        68
Unspecified                241
Name: InvoiceNo, dtype: int64

Task 69: Calculate the average transaction value for each country.

In [ ]:
df.groupby('Country')['TotalPrice'].mean()

Country
Australia               116.937340
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.091187
Germany                  25.332713
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.699289
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.970296
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.822000
Sweden                   85.261844
Switzerland              30.642752
UK                       20.860428
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

Task 70: Find which country has the highest average order value.

In [ ]:
df.groupby('Country')['TotalPrice'].mean().max()

120.79828184511216

In [ ]:
df.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

Task 71: Calculate the total quantity of products sold to each country.

In [ ]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 84199
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111429
Germany                  119156
Greece                     1557
Iceland                    2458
Ireland                  140383
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16095
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27944
Sweden                    36078
Switzerland               30083
UK                      4254037
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

Task 72: Find the country with the most unique customers.

In [ ]:
df.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False)

Country
UK                      3921
Germany                   94
France                    87
Spain                     30
Belgium                   25
Switzerland               21
Portugal                  19
Italy                     14
Finland                   12
Austria                   11
Norway                    10
Australia                  9
Channel Islands            9
Netherlands                9
Denmark                    9
Cyprus                     8
Sweden                     8
Japan                      8
Poland                     6
Unspecified                4
USA                        4
Greece                     4
Canada                     4
Ireland                    3
Israel                     3
United Arab Emirates       2
Bahrain                    2
Malta                      2
Brazil                     1
Lebanon                    1
Iceland                    1
Czech Republic             1
European Community         1
Saudi Arabia               1
RSA                        1
Lithuania                  1
Singapore                  1
Name: CustomerID, dtype: int64

#PART J: Time-based Analysis
Task 73: Calculate total revenue for each month.

In [ ]:
df.groupby('Month')['TotalPrice'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

Task 74: Find which month had the highest sales.

In [ ]:
df.groupby('Month')['TotalPrice'].sum().idxmax()

np.int32(11)

Task 75: Calculate revenue for each quarter.

In [ ]:
df.groupby('Quarter')['TotalPrice'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: TotalPrice, dtype: float64

Task 76: Calculate the number of transactions per day of the week.

In [ ]:
df.groupby('DayOfWeek')['TotalPrice'].mean()

DayOfWeek
0    21.227710
1    25.822225
2    23.283568
3    24.892956
4    27.347473
6    12.831874
Name: TotalPrice, dtype: float64

In [ ]:
df.groupby('DayOfWeek')['TotalPrice'].sum()

DayOfWeek
0    1363604.401
1    1697733.801
2    1584283.830
3    1973015.730
4    1483080.811
6     785490.321
Name: TotalPrice, dtype: float64

Task 77: Find which day of the week has the highest average revenue.

In [ ]:
df.groupby('DayOfWeek')['TotalPrice'].mean()

DayOfWeek
0    21.227710
1    25.822225
2    23.283568
3    24.892956
4    27.347473
6    12.831874
Name: TotalPrice, dtype: float64

In [ ]:
df.groupby('DayOfWeek')['TotalPrice'].mean().idxmax()

np.int32(4)

Task 78: Calculate hourly sales patterns (revenue by hour of day).

In [ ]:
df.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

Task 79: Compare sales between 2010 and 2011.

In [ ]:
df.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

Task 80: Calculate month-over-month revenue growth rate.

In [ ]:
Month_rev = df.groupby('Month')['TotalPrice'].sum()

monthly_growth = Month_rev.pct_change() * 100
monthly_growth

Month
1           NaN
2    -21.477928
3     33.176831
4    -21.159954
5     44.618333
6     -2.555395
7     -9.254377
8      7.527701
9     47.611003
10     8.935850
11    11.641388
12    -5.932547
Name: TotalPrice, dtype: float64

#PART K: Customer Analysis
Task 81: Calculate total spending for each customer.

In [ ]:
df.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4339, dtype: float64

Task 82: Find the top 20 customers by total spending.

In [ ]:
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

Task 83: Calculate the number of transactions per customer.

In [ ]:
df.groupby('CustomerID')['InvoiceNo'].count()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    721
18287     70
Name: InvoiceNo, Length: 4339, dtype: int64

Task 84: Find the average order value for each customer.

In [ ]:
df.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4339, dtype: float64

Task 85: Identify customers who have made only one purchase.

In [ ]:
count=df.groupby('CustomerID')['InvoiceNo'].count()
one_cust=count[count==1]
one_cust

CustomerID
12346    1
13017    1
13099    1
13106    1
13120    1
        ..
18133    1
18174    1
18184    1
18233    1
18268    1
Name: InvoiceNo, Length: 72, dtype: int64

In [ ]:
one_cust=count[count==1].count()
one_cust

np.int64(72)

Task 86: Find customers who spent more than Â£10,000 in total.

In [ ]:
total_sp=df.groupby('CustomerID')['TotalPrice'].sum()
cust=total_sp[total_sp>10000]
cust

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

In [ ]:
total_sp[total_sp>10000].count()

np.int64(104)

Task 87: Calculate the average number of days between purchases for each customer.

In [ ]:
df=df.sort_values(by=['CustomerID','InvoiceDate'])
df['DaysBetween'] = df.groupby('CustomerID')['InvoiceDate'].diff().dt.days
avg = df.groupby('CustomerID')['DaysBetween'].mean()
avg

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: DaysBetween, Length: 4339, dtype: float64

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Product Name', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'LengthOfProduct', 'DaysBetween'],
      dtype='object')

#PART L: Product Analysis
Task 88: Find the top 20 products by revenue.

In [ ]:
df.groupby('Product Name')['TotalPrice'].sum(). sort_values(ascending=False).head(20)

Product Name
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64

Task 89: Find the top 20 products by quantity sold.

In [ ]:
df.groupby('Product Name')['Quantity'].sum(). sort_values(ascending=False).head(20)

Product Name
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

Task 90: Calculate the average price for each product.

In [ ]:
df.groupby('Product Name')['UnitPrice'].mean()

Product Name
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

Task 91: Find products that have been sold to more than 10 different countries.

In [ ]:
country_counts = df.groupby('Product Name')['Country'].nunique()
country_counts[country_counts > 10]

Product Name
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 496, dtype: int64

Task 92: Identify the most expensive and cheapest products.

In [ ]:
df.groupby('Product Name')['UnitPrice'].max().idxmax()

'POSTAGE'

In [ ]:
df.groupby('Product Name')['UnitPrice'].max().idxmin()

'PADS TO MATCH ALL CUSHIONS'

#PART M: Advanced Grouping
Task 93: Calculate total revenue by Country and Year.

In [ ]:
df.groupby(['Country','Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

Task 94: Calculate average transaction value by Country and Quarter.

In [ ]:
df.groupby(['Country','Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.255855
                      3           88.479103
                      4          134.886170
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: TotalPrice, Length: 117, dtype: float64

Task 95: Find the number of transactions by Country and Month.

In [ ]:
df.groupby(['Country','Month'])['InvoiceNo'].count()

Country      Month
Australia    1        127
             2         89
             3        108
             4         18
             5        117
                     ...
Unspecified  4         16
             5         47
             6          9
             7        146
             8         23
Name: InvoiceNo, Length: 271, dtype: int64

Task 96: Calculate total revenue by Day of Week and Hour.

In [ ]:
df.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
0          7         1494.580
           8        43343.390
           9       123955.190
           10      183627.120
           11      160302.060
                      ...
6          12      152903.710
           13      137280.880
           14      104196.381
           15      129053.660
           16       38799.070
Name: TotalPrice, Length: 73, dtype: float64

Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [ ]:
df.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max    min
Country
Australia              138453.810  116.937340    1718.40   0.00
Austria                 10198.680   25.624824     360.00   2.88
Bahrain                   548.400   32.258824     120.00  11.60
Belgium                 41196.340   20.283772     165.00   2.50
Brazil                   1143.600   35.737500     175.20  15.00
Canada                   3666.380   24.280662     550.94   2.50
Channel Islands         20440.540   27.363507     408.00   4.56
Cyprus                  13502.850   22.392786     320.69   0.83
Czech Republic            826.740   33.069600      70.80  10.08
Denmark                 18955.340   49.882474     428.40   4.68
European Community       1300.250   21.670833      60.00   7.80
Finland                 22546.080   32.913985     551.20   2.34
France                 208934.310   25.091187    4161.06   0.00
Germany                228678.400   25.332713     876.00   0.00
Greece                   4760.520   32.831172     175.20   3.36
Iceland                  4310.000   23.681319     249.60   5.04
Ireland                265262.460   36.699289    2365.20   0.00
Israel                   7215.840   29.452408     350.40   0.95
Italy                   17483.240   23.064960     300.00   2.88
Japan                   37416.370  116.561900    3794.40   0.29
Lebanon                  1693.880   37.641778     153.00  10.20
Lithuania                1661.060   47.458857     122.40  13.20
Malta                    2725.590   24.335625     455.00   2.28
Netherlands            285446.340  120.798282    4992.00   0.00
Norway                  36165.440   33.736418     700.00   0.00
Poland                   7334.650   22.226212     120.00   6.60
Portugal                33375.840   22.970296    1241.98   0.29
RSA                      1002.310   17.281207      38.25   0.00
Saudi Arabia              145.920   16.213333      19.80   5.04
Singapore               21279.290   95.852658    3949.32   2.34
Spain                   61558.560   24.822000    1350.00   0.00
Sweden                  38367.830   85.261844    1188.00   5.04
Switzerland             56443.950   30.642752     360.00   0.00
UK                    7285024.644   20.860428  168469.60   0.00
USA                      3580.390   20.002179      81.36   1.25
United Arab Emirates     1902.280   27.974706     153.00   3.48
Unspecified              2660.770   11.040539      69.36   0.19

Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [ ]:
df.groupby('CustomerID').agg(
    Total_Spending=('TotalPrice', 'sum'),
    No_of_Orders=('InvoiceNo', 'count'),
    Avg_Order_Value=('TotalPrice', 'mean')
)

            Total_Spending  No_of_Orders  Avg_Order_Value
CustomerID
12346             77183.60             1     77183.600000
12347              4310.00           182        23.681319
12348              1797.24            31        57.975484
12349              1757.55            73        24.076027
12350               334.40            17        19.670588
...                    ...           ...              ...
18280               180.60            10        18.060000
18281                80.82             7        11.545714
18282               178.05            12        14.837500
18283              2045.53           721         2.837074
18287              1837.28            70        26.246857

[4339 rows x 3 columns]

Task 99: For each product, calculate total quantity sold and total revenue generated.

In [ ]:
df.groupby('Product Name').agg(
     tot_Quantity=('Quantity','sum'),
     tot_Revenue=('TotalPrice','sum')
)

                                  tot_Quantity  tot_Revenue
Product Name
 4 PURPLE FLOCK DINNER CANDLES             138       265.66
 50'S CHRISTMAS GIFT BAG LARGE            1885      2272.25
 DOLLY GIRL BEAKER                        2394      2754.50
 I LOVE LONDON MINI BACKPACK               359      1449.85
 I LOVE LONDON MINI RUCKSACK                 1         4.15
...                                        ...          ...
ZINC T-LIGHT HOLDER STARS SMALL           4894      3879.98
ZINC TOP  2 DOOR WOODEN SHELF               10       169.50
ZINC WILLIE WINKIE  CANDLE STICK          2606      2176.10
ZINC WIRE KITCHEN ORGANISER                 25       156.80
ZINC WIRE SWEETHEART LETTER TRAY            80       253.24

[3877 rows x 2 columns]

#PART N: Creating Summary Reports
Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [ ]:
pt1 = df.pivot_table(
    index='Country',
    columns='Month',
    values='TotalPrice',
    aggfunc='sum',
    fill_value=0
)
pt1

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4350.32,439.66,1587.07
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00

#Task 101: Create a summary showing average quantity purchased by country and quarter.

In [ ]:
pt2 = df.pivot_table(
    index='Country',
    columns='Quarter',
    values='Quantity',
    aggfunc='mean',
    fill_value=0
)
pt2

Quarter                        1           2          3          4
Country
Australia              76.429012   83.174342  59.692935  64.808511
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.760946
Germany                12.749697   14.133297  12.878070  13.125195
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.095698  16.280411
Israel                 17.875000    0.000000  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.712406  91.773071
Norway                  8.200000   12.102410  17.917683  21.034417
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                     0.000000    0.000000   0.000000   6.068966
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.532836  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   19.960674  15.158974  15.503436
UK                     12.944398   12.175811  13.062659  11.344858
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.562130   0.000000

#Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [ ]:
pt3 = df.pivot_table(
    index='Country',
    columns='RevenueCategory',
    values='InvoiceNo',
    aggfunc='count',
    fill_value=0
)
pt3

RevenueCategory       High     Low  Medium
Country
Australia              445      85     654
Austria                 13      37     348
Bahrain                  1       0      16
Belgium                 16     209    1806
Brazil                   1       0      31
Canada                   2      19     130
Channel Islands         22      20     705
Cyprus                  14     142     447
Czech Republic           0       0      25
Denmark                 43      28     309
European Community       0       1      59
Finland                 42      66     577
France                 165    1285    6877
Germany                246    1157    7624
Greece                  12      17     116
Iceland                  3      13     166
Ireland                457     795    5976
Israel                  14      52     179
Italy                    8      44     706
Japan                  126      58     137
Lebanon                  3       0      42
Lithuania                1       0      34
Malta                    2      12      98
Netherlands           1132     202    1029
Norway                  43      60     969
Poland                   2      25     303
Portugal                23     354    1076
RSA                      0       4      54
Saudi Arabia             0       1       8
Singapore               16      13     193
Spain                   73     638    1769
Sweden                 136      28     286
Switzerland             95     149    1598
UK                    8493  164380  176354
USA                      0      22     157
United Arab Emirates     1       7      60
Unspecified              0     126     115

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Product Name', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'LengthOfProduct', 'DaysBetween'],
      dtype='object')

#PART O: Data Transformation
Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [ ]:
monthly_totals = df.groupby('Month')['TotalPrice'].transform('sum')

df['Percent_Of_Month_Rev']=(df['TotalPrice']/monthly_totals)*100
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30,NaN,13.586239
10257,537626,85116,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347,Iceland,25.20,2010,12,7,14,1,4,Medium,Medium,31,NaN,0.002317
10258,537626,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347,Iceland,17.00,2010,12,7,14,1,4,Medium,Small,33,0.0,0.001563
10259,537626,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347,Iceland,39.00,2010,12,7,14,1,4,Medium,Medium,33,0.0,0.003586
10260,537626,22492,MINI PAINT SET VINTAGE,36,2010-12-07 14:57:00,0.65,12347,Iceland,23.40,2010,12,7,14,1,4,Medium,Large,23,0.0,0.002152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281444,570715,22419,LIPSTICK PEN RED,12,2011-10-12 10:23:00,0.42,18287,UK,5.04,2011,10,12,10,2,4,Low,Medium,16,0.0,0.000487
281445,570715,22866,HAND WARMER SCOTTY DOG DESIGN,12,2011-10-12 10:23:00,2.10,18287,UK,25.20,2011,10,12,10,2,4,Medium,Medium,29,0.0,0.002433
306675,573167,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,36,2011-10-28 09:29:00,1.25,18287,UK,45.00,2011,10,28,9,4,4,Medium,Large,34,15.0,0.004345
306676,573167,21824,PAINTED METAL STAR WITH HOLLY BELLS,48,2011-10-28 09:29:00,0.39,18287,UK,18.72,2011,10,28,9,4,4,Medium,Large,35,0.0,0.001808
306677,573167,21014,SWISS CHALET TREE DECORATION,24,2011-10-28 09:29:00,0.29,18287,UK,6.96,2011,10,28,9,4,4,Low,Large,29,0.0,0.000672

Task 104: Add a column showing each customer's ranking based on their total spending.

In [ ]:
total_spending = df.groupby('CustomerID')['TotalPrice'].transform('sum')
df['Customer_Rank'] = total_spending.rank(method='dense', ascending=False)

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,...,18,10,1,1,High,Large,30,NaN,13.586239,10.0
10257,537626,85116,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347,Iceland,25.20,2010,...,7,14,1,4,Medium,Medium,31,NaN,0.002317,335.0
10258,537626,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347,Iceland,17.00,2010,...,7,14,1,4,Medium,Small,33,0.0,0.001563,335.0
10259,537626,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347,Iceland,39.00,2010,...,7,14,1,4,Medium,Medium,33,0.0,0.003586,335.0
10260,537626,22492,MINI PAINT SET VINTAGE,36,2010-12-07 14:57:00,0.65,12347,Iceland,23.40,2010,...,7,14,1,4,Medium,Large,23,0.0,0.002152,335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281444,570715,22419,LIPSTICK PEN RED,12,2011-10-12 10:23:00,0.42,18287,UK,5.04,2011,...,12,10,2,4,Low,Medium,16,0.0,0.000487,980.0
281445,570715,22866,HAND WARMER SCOTTY DOG DESIGN,12,2011-10-12 10:23:00,2.10,18287,UK,25.20,2011,...,12,10,2,4,Medium,Medium,29,0.0,0.002433,980.0
306675,573167,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,36,2011-10-28 09:29:00,1.25,18287,UK,45.00,2011,...,28,9,4,4,Medium,Large,34,15.0,0.004345,980.0
306676,573167,21824,PAINTED METAL STAR WITH HOLLY BELLS,48,2011-10-28 09:29:00,0.39,18287,UK,18.72,2011,...,28,9,4,4,Medium,Large,35,0.0,0.001808,980.0
306677,573167,21014,SWISS CHALET TREE DECORATION,24,2011-10-28 09:29:00,0.29,18287,UK,6.96,2011,...,28,9,4,4,Low,Large,29,0.0,0.000672,980.0

Task 105: Add a column showing the cumulative revenue over time.

In [ ]:
df = df.sort_values('InvoiceDate')

df['Cumulative_Revenue'] = df['TotalPrice'].cumsum()

In [ ]:
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,2.034000e+01
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,...,8,2,4,Medium,Medium,33,0.0,0.002345,248.0,4.584000e+01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,...,8,2,4,Medium,Small,28,0.0,0.001407,248.0,6.114000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,8.148000e+01
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,9.678000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887134e+06
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887151e+06
392717,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,2011,...,12,4,4,Medium,Medium,24,72.0,0.002152,1826.0,8.887174e+06
392721,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,12,4,4,Medium,Small,25,0.0,0.001379,1826.0,8.887189e+06
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

#PART P: Combining Analysis
Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [ ]:
df_2010=df[df['Year']==2010]
df_2011=df[df['Year']==2011]
df_2010

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,20.34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,...,8,2,4,Medium,Medium,33,0.0,0.002345,248.0,45.84
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,...,8,2,4,Medium,Small,28,0.0,0.001407,248.0,61.14
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,81.48
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,96.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25652,539988,22207,FRYING PAN UNION FLAG,1,2010-12-23 16:06:00,4.25,18116,UK,4.25,2010,...,16,3,4,Low,Small,21,0.0,0.000391,1259.0,570409.59
25653,539988,84050,PINK HEART SHAPE EGG FRYING PAN,2,2010-12-23 16:06:00,1.65,18116,UK,3.30,2010,...,16,3,4,Low,Small,31,0.0,0.000303,1259.0,570412.89
25654,539988,20751,FUNKY WASHING UP GLOVES ASSORTED,2,2010-12-23 16:06:00,2.10,18116,UK,4.20,2010,...,16,3,4,Low,Small,32,0.0,0.000386,1259.0,570417.09
25645,539988,22722,SET OF 6 SPICE TINS PANTRY DESIGN,1,2010-12-23 16:06:00,3.95,18116,UK,3.95,2010,...,16,3,4,Low,Small,33,0.0,0.000363,1259.0,570421.04
25669,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,...,16,3,4,Low,Small,21,0.0,0.000155,1259.0,570422.73

In [ ]:
combined_df = pd.concat([df_2010, df_2011], axis=0)
combined_df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,2.034000e+01
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,...,8,2,4,Medium,Medium,33,0.0,0.002345,248.0,4.584000e+01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,...,8,2,4,Medium,Small,28,0.0,0.001407,248.0,6.114000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,8.148000e+01
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,9.678000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887134e+06
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887151e+06
392717,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,2011,...,12,4,4,Medium,Medium,24,72.0,0.002152,1826.0,8.887174e+06
392721,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,12,4,4,Medium,Small,25,0.0,0.001379,1826.0,8.887189e+06
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

In [ ]:
df.reset_index()

,index,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
0,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,2.034000e+01
1,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,...,8,2,4,Medium,Medium,33,0.0,0.002345,248.0,4.584000e+01
2,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,...,8,2,4,Medium,Small,28,0.0,0.001407,248.0,6.114000e+01
3,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,8.148000e+01
4,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,9.678000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887134e+06
392728,392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887151e+06
392729,392717,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,...,12,4,4,Medium,Medium,24,72.0,0.002152,1826.0,8.887174e+06
392730,392721,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,12,4,4,Medium,Small,25,0.0,0.001379,1826.0,8.887189e+06
392731,392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [ ]:
df_uk = df[df['Country'] == "UK"]
df_non_uk = df[df['Country'] != "UK"]

df_uk = df_uk.copy()
df_non_uk = df_non_uk.copy()

df_uk['Type'] = "UK"
df_non_uk['Type'] = "Non-UK"

combined_horizontal = pd.concat([df_uk, df_non_uk], axis=1)

In [ ]:
combined_horizontal.reset_index()

,index,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,Type
0,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,4.25,17850.0,UK,25.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2.0,2010-12-01 08:26:00,7.65,17850.0,UK,15.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,392728,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,28.0,0.0,0.001159,1826.0,8.887134e+06,Non-UK
392728,392729,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Small,29.0,0.0,0.001526,1826.0,8.887151e+06,Non-UK
392729,392717,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,24.0,72.0,0.002152,1826.0,8.887174e+06,Non-UK
392730,392721,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Small,25.0,0.0,0.001379,1826.0,8.887189e+06,Non-UK
392731,392718,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,30.0,0.0,0.001821,1826.0,8.887209e+06,Non-UK

#PART Q: External Data Integration

Task 108: Create a new dataset with customer information (make up data):
CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [ ]:
customer_info = pd.DataFrame({
    'CustomerID': [12347, 12348, 12349, 12350, 12351],
    'CustomerName': ['Apple', 'Banana', 'Grapes', 'Mango', 'Pineapple'],
    'MembershipLevel': ['Gold', 'Silver', 'Bronze', 'Gold', 'Silver'],
    'JoinDate': ['2019-01-10', '2020-05-14', '2021-02-20', '2018-11-03', '2020-09-30']
})
customer_info

   CustomerID CustomerName MembershipLevel    JoinDate
0       12347        Apple            Gold  2019-01-10
1       12348       Banana          Silver  2020-05-14
2       12349       Grapes          Bronze  2021-02-20
3       12350        Mango            Gold  2018-11-03
4       12351    Pineapple          Silver  2020-09-30

Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

In [ ]:
df_merged = df.merge(customer_info, on='CustomerID', how='left')
df_merged

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,CustomerName,MembershipLevel,JoinDate
0,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Medium,Medium,35,0.0,0.001870,248.0,2.034000e+01,NaN,NaN,NaN
1,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,...,Medium,Medium,33,0.0,0.002345,248.0,4.584000e+01,NaN,NaN,NaN
2,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,...,Medium,Small,28,0.0,0.001407,248.0,6.114000e+01,NaN,NaN,NaN
3,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Medium,Medium,30,0.0,0.001870,248.0,8.148000e+01,NaN,NaN,NaN
4,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,Medium,Medium,34,NaN,0.001407,248.0,9.678000e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,Medium,Medium,28,0.0,0.001159,1826.0,8.887134e+06,NaN,NaN,NaN
392728,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,Medium,Small,29,0.0,0.001526,1826.0,8.887151e+06,NaN,NaN,NaN
392729,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,2011,...,Medium,Medium,24,72.0,0.002152,1826.0,8.887174e+06,NaN,NaN,NaN
392730,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,Medium,Small,25,0.0,0.001379,1826.0,8.887189e+06,NaN,NaN,NaN
392731,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06,NaN,NaN,NaN

Task 110: Create a product categories dataset (make up data):

StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

In [ ]:
product_categories = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '47590B'],
    'Category': ['Home', 'Kitchen', 'Gift', 'Toys', 'Stationery']
})

Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.

In [ ]:
df_merged_products = df.merge(product_categories, on='StockCode', how='left')
df_merged_products.groupby('Category')['TotalPrice'].sum().sort_values(ascending=False)

Category
Home          100547.45
Stationery     11666.35
Toys            9313.17
Gift            7121.23
Kitchen         5893.45
Name: TotalPrice, dtype: float64

Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [ ]:
df_merged.groupby('MembershipLevel')['TotalPrice'].sum().sort_values(ascending=False)

MembershipLevel
Gold      4644.40
Silver    1797.24
Bronze    1757.55
Name: TotalPrice, dtype: float64

Task 113: Show which product categories are most popular in each country.

In [ ]:
df_merged_products.groupby(['Country', 'Category'])['InvoiceNo'].count().sort_values(ascending=False)

Country               Category
UK                    Home          1936
                      Stationery     314
                      Toys           311
                      Kitchen        247
                      Gift           227
Ireland               Home            40
Spain                 Home            11
Germany               Stationery       9
Netherlands           Gift             8
Ireland               Stationery       7
Australia             Stationery       7
Ireland               Kitchen          7
Netherlands           Home             6
Italy                 Home             5
Cyprus                Home             5
France                Toys             4
Ireland               Gift             4
Channel Islands       Home             4
Finland               Home             3
France                Home             3
Spain                 Stationery       3
Germany               Gift             3
Switzerland           Home             2
                      Toys             2
USA                   Stationery       2
Channel Islands       Toys             2
                      Stationery       2
Belgium               Stationery       2
France                Stationery       2
Switzerland           Stationery       2
Norway                Stationery       2
Portugal              Home             2
Finland               Stationery       2
Singapore             Home             2
Germany               Toys             2
Spain                 Kitchen          2
Germany               Home             1
Cyprus                Stationery       1
Austria               Stationery       1
Australia             Home             1
                      Toys             1
Austria               Gift             1
RSA                   Stationery       1
Italy                 Stationery       1
Malta                 Home             1
Israel                Home             1
Switzerland           Kitchen          1
Sweden                Stationery       1
Spain                 Toys             1
United Arab Emirates  Stationery       1
Name: InvoiceNo, dtype: int64

#PART R: NumPy Operations
Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [ ]:
qty = df['Quantity'].array
price = df['UnitPrice'].array
total = qty * price
total

<NumpyExtensionArray>
[             np.float64(20.34),               np.float64(25.5),
               np.float64(15.3),              np.float64(20.34),
 np.float64(15.299999999999999),               np.float64(22.0),
              np.float64(20.34), np.float64(11.100000000000001),
 np.float64(11.100000000000001), np.float64(14.850000000000001),
 ...
               np.float64(15.0),               np.float64(15.6),
               np.float64(23.4),               np.float64(16.6),
               np.float64(16.6), np.float64(12.600000000000001),
               np.float64(16.6),               np.float64(23.4),
               np.float64(15.0), np.float64(19.799999999999997)]
Length: 392732, dtype: float64

Task 115: Create an array of 1000 random transaction IDs.

In [ ]:
transaction_ids = np.random.randint(100000, 999999, 1000)
transaction_ids

array([610597, 275955, 764095, 169818, 142964, 786646, 911642, 467701,
       220035, 160418, 223928, 329402, 522194, 652373, 110553, 918202,
       588520, 177228, 945503, 961196, 867945, 510855, 513242, 881153,
       564895, 534919, 999951, 577451, 754693, 229196, 729631, 497381,
       461471, 731628, 656289, 401382, 139778, 487604, 861091, 292492,
       705150, 306118, 647364, 159725, 580118, 469403, 447686, 450386,
       383358, 350922, 858637, 376147, 738869, 351545, 475596, 218416,
       406567, 367515, 830688, 280363, 358246, 760397, 785999, 718335,
       487808, 871593, 588215, 131674, 540118, 431495, 639360, 209061,
       624828, 155835, 104648, 238145, 325295, 694556, 558524, 690279,
       997932, 319813, 353768, 832135, 482674, 273871, 841035, 398905,
       432462, 927239, 612513, 391394, 286234, 283312, 523873, 410548,
       276380, 500331, 441177, 928316, 897367, 864875, 619082, 502556,
       405054, 746427, 780974, 235685, 107415, 401946, 807320, 843931,
       270059, 335056, 228071, 471484, 834291, 825049, 595611, 342611,
       710603, 756189, 228620, 307331, 405386, 310036, 536528, 131733,
       703978, 838079, 375408, 654030, 279244, 831675, 305396, 444068,
       408538, 423032, 408670, 448460, 780825, 558880, 777962, 567709,
       924902, 600617, 149806, 810868, 478531, 942510, 612985, 842192,
       798329, 139996, 554909, 549906, 159316, 879233, 447287, 809336,
       194379, 831290, 697497, 738905, 418034, 218046, 796745, 288894,
       510943, 618273, 763768, 277336, 606302, 994428, 951984, 840132,
       309163, 219244, 808909, 942914, 738549, 688119, 473100, 546988,
       433251, 595340, 859520, 867036, 664142, 490120, 915398, 981538,
       385734, 199692, 855854, 858145, 112011, 626672, 276688, 379385,
       496110, 330481, 555984, 687482, 813290, 126296, 348627, 323088,
       498212, 932640, 804645, 183688, 653451, 379350, 450392, 410117,
       248462, 668314, 992043, 688775, 975326, 847959, 698923, 509151,
       966431, 590712, 463315, 238412, 565600, 463208, 382130, 345284,
       824772, 754718, 315821, 309540, 227114, 595603, 723749, 434183,
       790309, 197576, 674975, 584197, 409216, 544292, 461402, 708274,
       279326, 603794, 584267, 171487, 986915, 578417, 754286, 132615,
       963496, 800237, 811707, 501658, 232688, 578835, 645503, 525912,
       898582, 260050, 583932, 741604, 510857, 522866, 224394, 900335,
       603321, 262461, 480226, 893187, 348614, 909019, 426316, 208578,
       800205, 568566, 924932, 558175, 887208, 883715, 816919, 990291,
       962918, 849587, 646096, 491629, 805278, 610015, 276294, 498760,
       907140, 387217, 652036, 323332, 992198, 534256, 655618, 726723,
       951345, 666152, 172618, 195380, 421243, 172285, 233256, 397947,
       619547, 136134, 746123, 896787, 935492, 365404, 220911, 416018,
       331619, 735422, 518335, 146179, 516865, 544970, 580593, 869696,
       843949, 588369, 642830, 319957, 786221, 738964, 337616, 935680,
       878550, 179493, 825889, 520608, 913376, 635419, 554173, 509300,
       515623, 784870, 320616, 358498, 994953, 542714, 334206, 884967,
       297969, 308917, 583738, 560042, 769570, 774448, 842218, 515992,
       938787, 876047, 945119, 289045, 122815, 319292, 683738, 999809,
       284137, 308016, 211181, 628725, 383864, 142764, 792876, 315552,
       500142, 351250, 587936, 246899, 517652, 672310, 202113, 142654,
       847467, 873633, 184580, 797780, 154099, 499933, 267928, 498582,
       645920, 714873, 370668, 169991, 226229, 614260, 840027, 924632,
       976166, 396737, 722556, 450591, 245230, 425319, 441798, 488248,
       388604, 166724, 320694, 537059, 320337, 679925, 273323, 168888,
       634351, 160314, 329570, 891626, 817454, 387229, 427245, 156833,
       570975, 562024, 705816, 846722, 945649, 881870, 117426, 793634,
       386657, 613941, 776694, 246119, 770613, 535626, 817514, 253648,
       167964, 862131, 560702, 150727, 413543, 853619, 633616, 101025,
       377688, 895881, 561986, 639815, 849065, 336876, 661192, 143547,
       710922, 797221, 615048, 528124, 913551, 879737, 387521, 481632,
       754016, 925604, 823412, 244590, 665288, 867684, 585672, 462009,
       556201, 666294, 318777, 502520, 204305, 169721, 867504, 525118,
       674528, 900510, 467559, 893464, 532414, 229471, 215476, 654947,
       130019, 274955, 366392, 625782, 772931, 511691, 530114, 836268,
       235643, 232200, 842992, 408643, 978111, 961164, 925546, 758370,
       967650, 272691, 189093, 300861, 848151, 777959, 422195, 813270,
       832140, 276907, 286101, 486624, 846201, 765064, 257007, 358883,
       656574, 685075, 242925, 241684, 693173, 876327, 393979, 899973,
       536377, 747432, 983902, 738366, 581554, 453920, 520953, 807668,
       787377, 252215, 275624, 357390, 938958, 459343, 570247, 658747,
       428419, 567933, 491417, 824350, 840458, 233633, 567481, 619527,
       922352, 715901, 762926, 786844, 888097, 549995, 553158, 355788,
       364351, 185942, 403521, 974435, 147507, 711654, 899489, 283047,
       150179, 739601, 238290, 722240, 194555, 461389, 926272, 313134,
       387477, 333924, 432089, 154741, 346884, 664929, 897315, 433503,
       144617, 651666, 714681, 245735, 793285, 972522, 655573, 986018,
       988047, 136112, 315319, 336632, 893018, 958876, 690586, 811557,
       589846, 988396, 980108, 238876, 887128, 106753, 643405, 237896,
       347211, 532412, 311398, 482759, 697961, 417371, 190480, 650283,
       308486, 835561, 592418, 753556, 399965, 694206, 755501, 466152,
       910672, 108336, 409119, 308569, 858671, 371409, 749888, 782145,
       355813, 952345, 958309, 104287, 142849, 471381, 244291, 734479,
       417218, 439287, 261536, 172548, 766362, 908632, 871889, 718981,
       555262, 496230, 242351, 833075, 473256, 867964, 543434, 184458,
       229525, 527821, 684418, 528872, 838924, 265704, 233940, 192316,
       911358, 784116, 655066, 483244, 109014, 308569, 503247, 655512,
       913005, 955089, 548571, 911831, 156895, 418426, 507800, 280778,
       618659, 997595, 954495, 527130, 298362, 568773, 409929, 403386,
       891895, 338559, 743729, 183600, 351244, 227097, 490163, 183677,
       426105, 740672, 355036, 784165, 180867, 888672, 186105, 984415,
       811950, 435914, 169496, 910969, 243323, 920574, 206171, 143377,
       147315, 279761, 741066, 355546, 270011, 857727, 294214, 684398,
       559526, 638307, 630227, 921392, 700982, 481169, 402759, 294088,
       870936, 737302, 707787, 609831, 912299, 556589, 843339, 220362,
       234576, 797096, 173605, 243700, 278680, 764381, 432169, 502009,
       391922, 719583, 232006, 580915, 590626, 397404, 587501, 660975,
       844612, 643958, 133551, 941081, 602958, 157125, 552725, 838668,
       218435, 449413, 677252, 666212, 680368, 208203, 895977, 362965,
       730904, 596155, 337884, 630765, 260338, 559421, 928603, 364627,
       820850, 408182, 498114, 759365, 445687, 584250, 938372, 234412,
       816261, 100256, 279809, 779376, 903160, 376196, 792999, 474053,
       350458, 582984, 679319, 426368, 430705, 695891, 899638, 949981,
       759334, 218903, 946479, 362045, 246611, 259083, 817463, 362638,
       505700, 112004, 992463, 408176, 569681, 816081, 714613, 418152,
       606025, 188730, 387002, 703587, 815288, 763437, 765082, 733581,
       883112, 301939, 687450, 239576, 781563, 133023, 162611, 578088,
       378509, 814874, 418943, 699429, 665186, 930650, 301636, 682058,
       308776, 567127, 675156, 614418, 142274, 996403, 138263, 116439,
       443022, 819451, 589724, 312516, 752507, 412975, 963686, 494490,
       782892, 158897, 662729, 236949, 383111, 776981, 311436, 672782,
       646448, 164057, 842646, 298861, 261711, 782069, 984166, 957576,
       714905, 241997, 218323, 174771, 572450, 586891, 510215, 281869,
       875385, 520645, 395058, 824338, 903766, 609116, 312052, 870063,
       819163, 703826, 334263, 252927, 670400, 134310, 149661, 970063,
       268742, 975891, 575324, 221238, 812138, 307756, 741499, 682732,
       556498, 264954, 943061, 597688, 322585, 720600, 128867, 106428,
       891714, 140995, 482914, 915881, 808200, 692054, 790167, 406021,
       131237, 343964, 978553, 318435, 856946, 893607, 437569, 609093,
       926401, 214970, 663355, 230145, 883460, 236715, 447384, 896740,
       979990, 389768, 594272, 421513, 745651, 716116, 362888, 817923,
       719995, 594820, 645913, 570840, 456854, 917129, 456819, 453451,
       242253, 601767, 450202, 936842, 391057, 299558, 666304, 270509,
       842106, 723463, 609871, 398774, 455952, 108585, 306516, 997496,
       133257, 762841, 793385, 851564, 234418, 601707, 803100, 854811,
       258401, 798103, 884138, 847646, 579813, 902949, 478782, 722928,
       190732, 150942, 680214, 922131, 373740, 956449, 508293, 541021,
       893719, 832832, 314182, 825678, 216367, 634429, 674732, 923374])

Task 116: Generate 50 equally spaced price points between Â£0 and Â£500.

In [ ]:
price_points = np.linspace(0, 500, 50)

Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [ ]:
matrix = np.zeros((12, 7))
matrix

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

Task 118: Extract quantities greater than 100 from the Quantity array.

In [ ]:
qty[qty > 100]

<NumpyExtensionArray>
[  np.int64(120),   np.int64(432),   np.int64(192),   np.int64(192),
   np.int64(192),   np.int64(432),   np.int64(288),   np.int64(144),
   np.int64(144),   np.int64(128),
 ...
  np.int64(1500),  np.int64(1200),   np.int64(144),   np.int64(240),
   np.int64(192), np.int64(80995),   np.int64(120),   np.int64(180),
   np.int64(144),   np.int64(144)]
Length: 4663, dtype: int64

Task 119: Calculate the square root of all UnitPrice values.

In [ ]:
np.sqrt(df['UnitPrice'])

3         1.841195
6         2.061553
5         2.765863
4         1.841195
0         1.596872
            ...
392728    1.449138
392729    2.037155
392717    1.396424
392721    1.936492
392718    1.284523
Name: UnitPrice, Length: 392732, dtype: float64

Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [ ]:
np.percentile(df['TotalPrice'], [25, 50, 75])

array([ 4.95, 12.39, 19.8 ])

Task 121: Round all UnitPrice values to the nearest integer.

In [ ]:
np.round(df['UnitPrice'])

3         3.0
6         4.0
5         8.0
4         3.0
0         3.0
         ...
392728    2.0
392729    4.0
392717    2.0
392721    4.0
392718    2.0
Name: UnitPrice, Length: 392732, dtype: float64

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Product Name', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'LengthOfProduct', 'DaysBetween', 'Percent_Of_Month_Rev',
       'Customer_Rank', 'Cumulative_Revenue'],
      dtype='object')

Task 122: Find positions where Quantity is maximum.

In [ ]:
np.where(qty == qty.max())

(array([392266]),)

In [ ]:
np.where(df['Quantity'] == df['Quantity'].max())

(array([392266]),)

Task 123: Calculate the correlation between Quantity and UnitPrice.

In [ ]:
np.corrcoef(qty, price)

array([[ 1.        , -0.00457678],
       [-0.00457678,  1.        ]])

In [ ]:
np.corrcoef(df['Quantity'], df['UnitPrice'])[0, 1]

np.float64(-0.004576781205087334)

Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [ ]:
df['Normalized_TotalPrice'] = (df['TotalPrice'] - df['TotalPrice'].mean()) / df['TotalPrice'].std()
df

,InvoiceNo,StockCode,Product Name,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,Normalized_TotalPrice
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,2,4,Medium,Medium,35,0.0,0.001870,248.0,2.034000e+01,-0.007359
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,...,2,4,Medium,Medium,33,0.0,0.002345,248.0,4.584000e+01,0.009228
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,...,2,4,Medium,Small,28,0.0,0.001407,248.0,6.114000e+01,-0.023560
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,2,4,Medium,Medium,30,0.0,0.001870,248.0,8.148000e+01,-0.007359
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,2,4,Medium,Medium,34,NaN,0.001407,248.0,9.678000e+01,-0.023560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887134e+06,-0.032240
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887151e+06,-0.019381
392717,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,2011,...,4,4,Medium,Medium,24,72.0,0.002152,1826.0,8.887174e+06,0.002478
392721,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,4,4,Medium,Small,25,0.0,0.001379,1826.0,8.887189e+06,-0.024525
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06,-0.009095

Task 125: Split the Quantity array into 4 equal parts.

In [ ]:
np.array_split(df['Quantity'], 4)

[3         6
 6         6
 5         2
 4         6
 0         6
          ..
 98173    10
 98174     1
 98175     1
 98181     1
 98180     1
 Name: Quantity, Length: 98183, dtype: int64,
 98176      1
 98177      1
 98188      1
 98178     12
 98179      1
           ..
 196368     1
 196367     1
 196335     2
 196334     2
 196365     5
 Name: Quantity, Length: 98183, dtype: int64,
 196364     2
 196363     3
 196333     1
 196332     3
 196331     2
           ..
 294521    36
 294561    12
 294528     4
 294545    12
 294547     4
 Name: Quantity, Length: 98183, dtype: int64,
 294543     8
 294542     8
 294541    20
 294540    20
 294539     6
           ..
 392728     6
 392729     4
 392717    12
 392721     4
 392718    12
 Name: Quantity, Length: 98183, dtype: int64]

#PART S: Export and Documentation
Task 126: Save your cleaned dataset to a CSV file.

In [ ]:
df.to_csv("Cleaned_OnlineRetail.csv")

Task 127: Save your cleaned dataset to an Excel file.

In [ ]:
# df.to_excel("Cleaned_OnlineRetail.xlsx", index=False, engine='openpyxl')

#Task 128: Create an Excel file with multiple sheets:
Sheet 1: Full cleaned data

Sheet 2: Country-wise summary

Sheet 3: Monthly revenue trends

Sheet 4: Top 50 customers

In [ ]:
merged = pt1.merge(pt2, on='Country', how='left').merge(pt3, on='Country', how='left')

In [ ]:
Rev_Trends = pd.pivot_table(df,index='Month',values='TotalPrice',aggfunc='sum')

In [ ]:
top_50 = df.groupby(['CustomerID'])['TotalPrice'].sum().reset_index().sort_values('TotalPrice',ascending=False).head(50)

In [ ]:
# Sheet 1:
df.to_excel("Cleaned_OnlineRetail.xlsx", index=False, engine='openpyxl')

# Sheet 2:
merged.to_excel("Country_Wise_Summary.xlsx", index=False, engine='openpyxl')

# Sheet 3:
Rev_Trends.to_excel("Monthly_revenueTrends.xlsx", index=False, engine='openpyxl')

# Sheet 4:
top_50.to_excel("Top50Customers.xlsx", index=False, engine='openpyxl')

Task 129: Export the pivot table from Task 100 to Excel.

In [ ]:
pt1.to_excel("Country_wise_monthly_trends.xlsx",index=False,engine='openpyxl')

Task 130: Create a text file documenting all the insights you discovered from this analysis.

In [ ]:
analysis_summary = '''
Detailed Analysis Summary

The exploratory analysis of the retail dataset reveals key patterns across customer purchasing behavior, revenue distribution, product performance, and time-based trends. These insights help understand the operational dynamics and provide strategic direction for business improvement.

Geographical and Revenue Contribution

The United Kingdom significantly dominates both the volume of transactions and overall revenue generation, contributing the majority share compared to other countries. This indicates that the business has a strong local customer base, while international sales remain comparatively smaller. However, international orders, although fewer, show high-value transactions that could be potential markets for expansion with targeted logistics and marketing strategies.

Time-Based Sales Patterns

Seasonal and temporal patterns are clearly visible. Monthly and quarterly trends show distinct peaks, suggesting strong seasonality â€” especially in periods associated with holidays and festive seasons. Daily and hourly activity patterns reveal when customers are most engaged online, allowing businesses to optimize staffing, promotional campaigns, and advertising schedules. Understanding these patterns supports decisions regarding inventory stocking and delivery planning to meet peak demand efficiently.

Customer Behavior Insights

Customer spending behavior displays a sharp imbalance: a small percentage of customers contributes a disproportionately large share of total revenue (typical of the Pareto 80/20 principle). These high-value customers place frequent and bulk orders, indicating strong loyalty. In contrast, a large portion of customers makes very few purchases, often only once in the entire dataset period. Segmenting customers based on spending, purchase regularity, and membership details enables targeted loyalty initiatives, personalized offers, and retention strategies that could convert low-activity users into repeat buyers.

Product Performance Evaluation

Product-level analysis reveals that only a limited range of products generates the majority of sales volume and revenue, highlighting the importance of managing top-performing items. Some products demonstrate strong global appeal, while others are region-specific, reflecting differences in cultural preferences or seasonal requirements. Grouping products into categories provides a clearer comparison of category-wise contribution and helps identify underperforming product lines that may require redesign, promotion, or discontinuation.

Strategic Implications

The combined insights enable informed business decisions across multiple areas:

Inventory management: stocking high-performing products and reducing slow-moving items.

Targeted marketing: designing campaigns based on customer segments and peak activity times.

Revenue growth: introducing loyalty programs for valuable customers and upselling strategies.

Product development: strengthening categories with strong potential and optimizing weaker ones.'''

In [ ]:
with open("OnlineRetailAnalysis.txt","w") as fo:
  fo.write(analysis)

NameError: name 'analysis' is not defined